



<div class="container-fluid pt-4 px-4">

    
    
    <!--<div class="bg-light rounded-top p-4"  *ngFor="let grafico of graficos">-->
    <div class="bg-light rounded-top p-4"  *ngIf=" graficos">  
        
        
        <table class="content-table"> 
            <thead> 
                <tr> 
                    <th>Values</th> 
                    <th>Dates</th> 
                    <th>Status</th> 
                </tr> 
            </thead> 
            <tbody> 
                <tr> 
                    <td>{{graficos.data.values[0]}}</td>
                    <td>{{graficos.data.dates [0]}}</td>
                    <td>{{graficos.data.status[0]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[1]}}</td>
                    <td>{{graficos.data.dates [1]}}</td>
                    <td>{{graficos.data.status[1]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[2]}}</td>
                    <td>{{graficos.data.dates [2]}}</td>
                    <td>{{graficos.data.status[2]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[3]}}</td>
                    <td>{{graficos.data.dates [3]}}</td>
                    <td>{{graficos.data.status[3]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[4]}}</td>
                    <td>{{graficos.data.dates [4]}}</td>
                    <td>{{graficos.data.status[4]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[5]}}</td>
                    <td>{{graficos.data.dates [5]}}</td>
                    <td>{{graficos.data.status[5]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[6]}}</td>
                    <td>{{graficos.data.dates [6]}}</td>
                    <td>{{graficos.data.status[6]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[7]}}</td>
                    <td>{{graficos.data.dates [7]}}</td>
                    <td>{{graficos.data.status[7]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[8]}}</td>
                    <td>{{graficos.data.dates [8]}}</td>
                    <td>{{graficos.data.status[8]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[9]}}</td>
                    <td>{{graficos.data.dates [9]}}</td>
                    <td>{{graficos.data.status[9]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[10]}}</td>
                    <td>{{graficos.data.dates [10]}}</td>
                    <td>{{graficos.data.status[10]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[11]}}</td>
                    <td>{{graficos.data.dates [11]}}</td>
                    <td>{{graficos.data.status[11]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[12]}}</td>
                    <td>{{graficos.data.dates [12]}}</td>
                    <td>{{graficos.data.status[12]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[13]}}</td>
                    <td>{{graficos.data.dates [13]}}</td>
                    <td>{{graficos.data.status[13]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[14]}}</td>
                    <td>{{graficos.data.dates [14]}}</td>
                    <td>{{graficos.data.status[14]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[15]}}</td>
                    <td>{{graficos.data.dates [15]}}</td>
                    <td>{{graficos.data.status[15]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[16]}}</td>
                    <td>{{graficos.data.dates [16]}}</td>
                    <td>{{graficos.data.status[16]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[0]}}</td>
                    <td>{{graficos.data.dates [0]}}</td>
                    <td>{{graficos.data.status[0]}}</td>                    
                </tr>
                <tr> 
                    <td>{{graficos.data.values[0]}}</td>
                    <td>{{graficos.data.dates [0]}}</td>
                    <td>{{graficos.data.status[0]}}</td>                    
                </tr>
                
            </tbody> 
        </table>
        
    </div>
</div>




